.bg-body-tertiary {
  background-color: transparent !important ;
}
.bg-body-tertiary .navbar-collapse {
  flex-grow: 0;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #2e4cbc;
}
@media (max-width: 768px) {
  .carousel-inner .carousel-item {
    height: 500px;
  }
}
@media (min-width: 768px) {
  .carousel-inner .carousel-item {
    height: 40 0px;
  }
}
@media (min-width: 992px) {
  .carousel-inner .carousel-item {
    height: 500px;
  }
}
.carousel-inner .carousel-item {
  background-size: cover;
  background-position: center 0;
}
.carousel-inner .carousel-item:nth-child(1) {
  background-image: url(../assets/uploads/banner_1.jpg);
}
.carousel-inner .carousel-item:nth-child(2) {
  background-image: url(../assets/uploads/banner_2.jpg);
}
.carousel-inner .carousel-item:nth-child(3) {
  background-image: url(../assets/uploads/banner_3.jpg);
}
.carousel-inner .carousel-item:nth-child(4) {
  background-image: url(../assets/uploads/banner_4.jpg);
}
.project {
  margin-top: 60px;
  text-align: center;
}
.project .row div {
  height: 200px;
}
.project .row div a {
  display: block;
  height: 200px;
  background-color: green;
  border-radius: 4px;
}
.project .row div:nth-child(1) a {
  background-color: #70c3ff;
}
.project .row div:nth-child(2) a {
  background-color: #fd6a7f;
}
.project .row div:nth-child(3) a {
  background-color: #7f8ea0;
}
.project .row div:nth-child(4) a {
  background-color: #89d04f;
}
