/* 版心湖中 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

/* 主体背景颜色 */
body {
    background-color: #f3f5f7;
}

/* 头部区域 */
.header {
    height: 100px;
    background-color: #fff;
}

.header .wrapper {
    display: flex;
    padding: 29px;
} 

.logo a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    /* 隐藏字体 */
    font-size: 0;
}

/* 导航 */
 .nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 24px;
    font-size: 19px;
}

.nav li .active ,
.nav li a:hover {
    border-bottom: 2px solid  #00a4ff ;
}

.search {
    margin-left: 40px;
    padding-left: 19px;
    padding-right: 20px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    /* 去除表单焦点框 */
    outline: none;
}

/* ::placeholder 选中就是placeholder 属性文字样式 */
.search input ::placeholder {
    font-size: 14px;
    color: #999;
} 

/* 父级是flex布局 子级变弹性盒子 加宽高生效 */
.search a {
    align-self: center;
    width: 14px;
    height: 16px;
    background-image: url(../images/search.png) ;
}

.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img{
    margin-right: 7px;
    /* 行们块和蛤蟆行内对齐 */
    vertical-align: middle;
}

.user span{
    font-size: 16px;
    color: #666;
}

/* Banner */
.banner {
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

/* 侧导航栏 */
.banner .left  {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}
.banner .left a {
    display: block;
    height: 46px;
    background: url(../images/right.png) no-repeat right center ;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}


/* 课程表 */
.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.banner .right .content{
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}
.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong {
    counter-reset: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    display: block;
    height: 32px;
    border-color: #00a4ff;
    text-align :center;
    line-height: 32px;
    border-radius: 10px;

    /* 精品推荐 */
.recomment{
        height: 60px;
        background-color: palegoldenrod;
        box-shadow: 0px 1px 2px 0px rgba(211, 211,);
    }
}